/** @format */
:root {
  --accent-color: #2f3032;
  --secondary-color: #007bff;
  --border-section-color: #007bff;
  --tab-font-color: #fff;
  --headings-color: #fff;
}

body {
  width: 400px;
  height: 600px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  margin: 0;
  padding: 0px 0px;
  box-sizing: border-box;
}

.container {
  padding: 0 20px;
}

h2 {
  font-size: 15px;
  color: var(--secondary-color);
  margin: 20px 0 10px;
}

.title {
  font-size: 18px;
  color: #007bff;
}
h3 {
  font-size: 16px;
  color: var(--secondary-color);
  margin: 10px 0;
}

p,
li {
  font-size: 13px;
  color: #ffffff;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.hidden {
  display: none;
}

.section {
  border-bottom: 1px solid var(--border-section-color);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.section:last-child {
  border-bottom: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
}
li.header-H1 {
  margin-left: 0px;
}

li.header-H2 {
  margin-left: 10px;
}

li.header-H3 {
  margin-left: 20px;
}

li.header-H4 {
  margin-left: 30px;
}

li.header-H5 {
  margin-left: 40px;
}

li.header-H6 {
  margin-left: 50px;
}

.btn {
  display: inline-block;
  margin: 10px 2px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  font-weight: 800;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-orange {
  background-color: #ff8700;
  border-color: #ff8700;
}

.btn-orange:hover {
  background-color: #c26801;
  border-color: #c26801;
}

.btn-grey {
  background-color: grey;
  border-color: darkgrey;
}

.btn-grey:hover {
  background-color: darkgrey;
  border-color: #a9a9a9;
}

#menu {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  padding: 0;
  border-top: 1px solid var(--border-section-color);
  border-bottom: 1px solid var(--border-section-color);
}

#menu img {
  width: 25px;
  height: 25px;
}

#Tab2 {
  display: none;
}
#Tab3 {
  display: none;
}

ol {
  padding: 0;
  margin: 0;
}

#keywordAnalysis {
  padding: 0 20px;
}

.tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background: var(--accent-color);
  padding: 0px 0;
}

.tab button {
  flex: 1;
  background-color: var(--accent-color);
  color: var(--tab-font-color);
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
}

.tab button:hover {
  background-color: var(--secondary-color);
  color: var(--tab-font-color);
}

.tab button.active {
  background-color: var(--secondary-color);
  color: var(--tab-font-color);
}
